:root {
    --color-grid: #f6f6f6;
    --titule-text: 24pt;
    --parrafo-text: 16pt;
    --font-principal: "Archivo", sans-serif;
    --font-secundary: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 1550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.banner-hero {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.img-hero {
    width: 100%;
    border-radius: 0.75rem;
}

/* DESCRIPTION */

.description-container {
    width: 95%;
    height: 100%;
    background-color: var(--color-grid);
    margin-top: 30px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.title-description {
    text-align: center;
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin: 5px;
    padding: 5px;
}

.parrafo-description {
    text-align: center;
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);

}

.content-product {
    display: flex;
    width: 95%;
    margin: auto;
    background: linear-gradient(180deg, #ffff 50%, #f5f5f5 50%);
}

.product-container {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.product-img {
    width: 30%;
    border-radius: 0.75rem;
}

.info-product {
    background: #f5f5f5;
    width: 95%;
    height: auto;
    padding-bottom: 60px;
}

.text-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-product {
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    padding: 10px;
    margin: 10px;
}

.parrafo-product {
    font-size: var(--parrafo-text);
    font-family: var(--font-secundary);
    padding: 10px;
    margin: 10px;
}

.container-promotion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.promotion-content {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 5px;
}

.promotion-img {
    width: calc(100% - 5px);
    border-radius: 0.75rem;
}

.titule-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.titule-promotion {
    font-size: 24pt;
    font-family: "Archivo", sans-serif;
}

/* TARGETAS PO */

.titule-cards {
    font-size: var(--titule-text);
    font-family: var(--font-principal);
    margin-top: 20px;
    text-align: left;
}

.container-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards-img {
    width: 24%;
    border-radius: 0.75rem;
    margin: 7px;
}

.cards-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FAQS */
.container-faqs {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 5px;
}

.titule-content-faqs {
    margin: 30px auto;
}

.titule-faqs {
    font-size: var(--titule-text);
    font-family: var(--font-secundary)
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.question {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    font-size: 11pt;
    font-family: var(--font-principal);
    color: #0072c2;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

.answer {
    display: none;
    padding: 10px;
    border-top: none;
    font-size: 10pt;
    font-family: var(--font-secundary);
    color: #0072c2;
    font-weight: 500;
    background: #ffff;
}

input:checked+label+.answer {
    display: block;
}

label {
    display: block;
    padding: 15px;
    background-color: #ffff;
    cursor: pointer;
    position: relative;
}

.material-symbols-outlined {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #e30613;
}

input:checked+label .material-symbols-outlined {
    transform: rotate(180deg);
}

.title-vitrina{
    margin-top: 20px;
    padding: 20px;
    font-size: 18pt;
    font-family: "Archivo", sans-serif;
}

@media only screen and (max-width: 768px) {
    .description-container {
        margin: 10px;
    }

    .title-description {
        font-size: 14pt;
    }

    .title-vitrina{
        font-size: 10pt;
        text-align: center;
    }

    .parrafo-description {
        font-size: 10pt;
    }

    /* SLIDER PRODUCT */
    .slider-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .content-product {
        margin-top: 0;
        width: 100%;
        height: 100%;
        background: none;
    }

    .product-container {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        padding: 8px;
    }

    .product-img {
        width: 70%;
        scroll-snap-align: center;
        padding: 5px;
    }

    .info-product {
        display: none;
    }

    .titule-promotion, .titule-cards, .titule-faqs {
        font-size: 14pt;
    }

    .product-container::-webkit-scrollbar {
        background-color: #f1f1f1;
        height: 3px;
    }

    .product-container::-webkit-scrollbar-thumb {
        background-color: #e41a64;
        border-radius: 4px;
    }

    .cards-img {
        width: 60%;
    }

    .cards-slide::-webkit-scrollbar {
        background-color: #f1f1f1;
        height: 3px;
    }

    .cards-slide::-webkit-scrollbar-thumb {
        background-color: #e41a64;
        border-radius: 4px;
       
    }

    .question {
        width: 45%;
        margin: 5px;
    }

    label {
        font-size: 11pt;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .material-symbols-outlined {
        width: 8%;
    }

    .answer{
        width:100%;
    }
    /*SLIDER PROMOTION */

    .container-promotion {
        display: block;
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .promotion-content {
        display: flex;
        scroll-snap-type: x mandatory;
    }

    .slide {
        flex: 0 0 auto;
        width: 100%;
        scroll-snap-align: center;
    }

    .promotion-img {
        width: 100%;
        height: auto; 
        object-fit: cover;
    }
    
    .container-promotion::-webkit-scrollbar {
        background-color: #f1f1f1;
        height: 3px;
        
    }
    
    .container-promotion::-webkit-scrollbar-thumb {
        background-color: #e41a64;
        border-radius: 4px;

    }
}


@media only screen and (min-width: 769px) {
    .slider-wrapper input[type="radio"] {
        display: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 399px) {
    label {
        font-size: 8pt;
        text-align: left;
        width: 100%;
    }

    .question {
        width: 100%; 

    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    label {
        font-size: 8pt;
        text-align: left;
        width: 100%;
    }

    .question {
        width: 100%; 

    }
}

@media screen and (max-width: 540px) {
    .question {
        width: 100%; 

    }
}